/* Login.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--background-color)
  }
  
  .logo {
    margin-bottom: 20px;
    width: 400px;
  }
  
  .login-box {
    padding: 30px;
    width: 600px;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .login-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-button {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #555;
  }
  
  .forgot-password {
    display: block;
    text-align: center;
    margin-top: 25px;
    color: white;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  