@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text-light);
  background-color: var(--background-color);
}

/* Estilos globais */
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
