/* Tema Escuro */
:root {
  --color-primary: #F0B900; /* Amarelo */
  --color-secondary: #CE5A81; /* Rosa */
  
  --background-color: #121212; /* Fundo escuro */
  --color-text-light: #FFFFFF; /* Texto claro */
  --color-border: #3A3A3A; /* Borda sutil no tema escuro */
  
  --color-tertiary: #FFA500; /* Laranja */
  --color-lightest: #F8F9FA; /* Tons mais claros usados em elementos */
  --color-darkest: #020202; /* Usado para botões ou detalhes */
  
  --toggle-button: #020202; /* Cor do botão de alternância */
  --search-input-background: #1F1F1F; /* Fundo do input com leve contraste */
}

/* Tema Claro */
[data-theme="light"] {
  --color-primary: #F0B900; /* Amarelo */
  --color-secondary: #CE5A81; /* Rosa */
  
  --background-color: #FFFFFF; /* Fundo claro */
  --color-text-light: #000000; /* Texto escuro */
  --color-border: #DEE2E6; /* Borda mais escura no tema claro */
  
  --color-tertiary: #FF8800; /* Laranja mais escuro */
  --color-lightest: #F1F1F1; /* Tons mais claros para realce */
  --color-darkest: #121212; /* Usado para textos ou botões */
  
  --toggle-button: #CCCCCC; /* Cor do botão de alternância */
  --search-input-background: #F2F2F2; /* Fundo do input com leve contraste */
}
