/* Configurações gerais */
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex-grow: 1;
}

/* Sidebar expandida e minimizada */
.sidebar {
  transition: width 0.3s ease;
}

.sidebar-expanded {
  width: 250px; /* Largura quando expandida */
}

.sidebar-collapsed {
  width: 80px; /* Largura quando minimizada */
}

/* Conteúdo principal */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

/* Quando a sidebar está expandida */
.content-expanded {
  margin-left: 250px; /* Espaço para a sidebar expandida */
}

/* Quando a sidebar está minimizada */
.content-hidden {
  margin-left: 80px; /* Espaço menor para a sidebar minimizada */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* Botões de seleção */
.selector-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.selector-buttons label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.selector-buttons input {
  margin-right: 8px;
}
