.cards-container {
    display: flex;
    justify-content: space-around;
  }
  
  .card-imp {
    background-color: #ffffff; /* Fundo branco */
    padding: 20px;
    border-radius: 12px; /* Cantos arredondados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-align: center;
    height: 80%;
  }

  .card-imp h3 {
    font-size: 15px;
  }
  
  .main-value {
    font-size: 25px; /* Tamanho maior */
    font-weight: bold;
    margin: 10px 0;
    color: #333333; /* Texto escuro */
  }
  
  .change {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; 
    color: #333333; /* Cor neutra */
  }
  
  .positive {
    color: green;
  }
  
  .negative {
    color: red;
  }
  
  .arrow {
    margin-right: 5px;
  }
  
  .view-toggle {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .view-toggle button {
    padding: 4px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 20px; /* Botões arredondados */
    background-color: #f0f0f0;
    color: #555555; /* Cor do texto */
    cursor: pointer;
    font-weight: bold;
  }
  
  .view-toggle button.active {
    background-color: #007bff;
    color: white;
  }
  
  .cards-imp-chart-container {
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chart-container canvas {
    width: 100%;
    height: 100%;
  }
  
  .card-icon {
    font-size: 40px;
    color: #007bff; /* Cor do ícone */

  }
  
  .title {
    font-size: 12px;
    color: #666666;
    margin-top: 40px; /* Espaçamento com o ícone */
  }
  
  .subtitle {
    font-size: 14px;
    color: #999999;
  }
  
  